*.log
*.ipynb
*.gz
*.txt

*.png
*.gif

*.csv
!data_dictionary.csv
!testdata/*.csv
!testdata/samples/*.gz

*.json
!param_config.json
!query_config.json

Notes
dd_test
tar_to_maf.py

.ipynb_checkpoints
__pycache__