# Data
data

# Byte-compiled files
_pycache_
src/__pycache__/

# API Keys 
#/config/keys.json

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# personal settings
.vscode


# Flask stuff:
#instance/
#.webassets-cache
test_data_ingestion.csv
